/* global var */
:root {
    /* color scheme - "color cube"*/
    --white: #fff;
    --tundora: #484848;
    --bayleaf: #79b27b;
    --firefly: #040b11;
    --crimson: #e32929;
    --akaroa: #d6c9b0;
    --japanesemaple: #78020f;
    --cranmberry: #db677d;
    --seagull: #79b7e4;
    --deepcerulean: #036db4;

    /* following colors has been supposed and have to be discussed with designers */
    --green: #69aa53;
    --lightgreen: #9eeb85;
    --athensgray: #e8e5eb;
    --capecod: #3f4843;
    --gumbo: #7f9ea8;
}

/* general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Mulish', sans-serif;
}

.btn-green {
    border-radius: 25px;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 20px;
    background: var(--bayleaf);
    transition: all .3s ease;
    text-transform: uppercase;
    color: var(--white);
    border: none;
}

.btn-green:hover {
    background: var(--green);
}

.btn-green:focus {
    outline: none;
}

.btn-blue {
    border-radius: 25px;
    font-size: 12px;
    font-weight: 700;
    padding: 8px 18px;
    border: 3px solid var(--gumbo);
    transition: all .3s ease;
    text-transform: uppercase;
    color: var(--gumbo);
}

.btn-blue:hover {
    border-color: var(--green);
    color: var(--green);
}

.btn-blue:focus {
    outline: none;
}

/* contacts */
.contacts {
    background-color: var(--tundora);
    height: 44px;
    color: var(--athensgray);
    font-size: 12px;
}

.contacts span {
    line-height: 44px;
    font-weight: 100;
}

/* header */
header {
    background-color: rgba(71, 71, 71, .5); /* tundora with 50% opacity */
    position: sticky;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 2;
}

header.active {
    background-color: var(--tundora);
}

header .logo {
    max-width: 250px;
}

header .row {
    height: 115px;
}

header .row.active {
    height: 65px;
    background-color: var(--tundora);
}

header ul {
    margin: 0;
}

header ul li {
    line-height: 44px;
    cursor: pointer;
    position: relative;
}

header ul li::after {
    content: '';
    display: block;
    position: absolute;
    opacity: 0;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--bayleaf);
    transition: all .3s ease;
}

header ul li:hover::after {
    content: '';
    opacity: 1;
    bottom: 0;
    width: 100%;
}

header ul li span {
    font-size: 9px;
    background-color: var(--bayleaf);
    padding: 5px 6px;
    border-radius: 4px;
    margin-left: 7px;
    font-weight: 800;
    line-height: 10px;
}

header .call-to-action a {
    background-color: var(--bayleaf);
    padding: 10px 20px;
    width: 200px;
    border-radius: 22px;
    border: 2px solid transparent;
    text-align: center;
    width: 140px;
    display: block;
}

header .call-to-action a:hover {
    background-color: transparent;
    border: 2px solid var(--bayleaf);
    color: var(--bayleaf);
}

header a {
    color: var(--white);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    transition: all .3s ease;
    display: flex;
    align-items: center;
}

header a:hover {
    text-decoration: none;
    color: var(--bayleaf);
}

header a:hover span {
    color: var(--white);
}


/* hero */
.hero {
    height: 720px;
    background-image: url('img/homepage-hero-background.jpg');
    background-size: cover;
    background-position: center;
    margin-top: -115px;
}

.hero div {
    height: 100%;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero h1 {
    font-size: 60px;
    font-weight: 700;
}

.hero h2 {
    font-size: 26px;
    font-weight: 500;
}

/* extras */
.extras {
    position: fixed;
    top: 150px;
    right: 15px;
    z-index: 2;
}

.extras > div {
    width: 65px;
    height: 65px;
    background-color: var(--white);
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 10px 20px 5px rgba(4, 11, 17, 0.15); /* firefly rgba 15% opacity */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.extras div span {
    font-size: 12px;
    font-weight: 700;
}

.extras svg {
    fill: var(--capecod);
    height: 100%;
}

.extras .top-element, .extras .bottom-element {
    overflow: hidden;
}

.extras .top-element > div, .extras .bottom-element > div {
    width: 100px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 50%;
    transition: all .3s ease;
    cursor: pointer;
}

.extras .top-element > div:hover, .extras .bottom-element > div:hover {
    left: -50%;
}

.extras .bottom-element div > span:first-of-type {
    font-size: 28px;
    font-weight: 700;
    color: var(--bayleaf);
    padding-left: 2px;
    position: relative;
}

.extras .bottom-element div span:first-of-type::before {
    content: '$';
    display: block;
    position: absolute;
    top: 4px;
    left: -12px;
    padding-left: 4px;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
}

.extras .description {
    font-family: 'Open Sans', sans-serif;
    margin-top: 5px;
    font-weight: 700;
}

/* contacts-collections */
.contacts-collections {
    padding-top: 80px;
    margin-top: 0px;
    padding-right: 30px;
    margin-bottom: 0px;
    padding-left: 30px;
}

.contacts-collections .description h2 {
    font-size: 40px;
    color: var(--tundora);
    margin-bottom: 31px;
}

.contacts-collections .description p {
    color: rgba(71, 71, 71, .5); /*tundora with 50% opacity*/
    font-size: 21px;
    line-height: 2;
    font-weight: 400;
}

.contacts-collections .description p:last-of-type {
    font-size: 16px;
}

.contacts-collections .contact-form > div {
    border-radius: 10px;
    padding: 40px;
    background-color: var(--white);
    box-shadow: rgba(71, 71, 71, 0.1) 0px 25px 20px 0px; /* tundora with 10% opacity */
    position: relative;
    top: -110px;
}

.contacts-collections .contact-form h3 {
    font-size: 30px;
    color: var(--bayleaf);
    margin-bottom: 40px;
}

.contacts-collections .contact-form p {
    font-size: 16px;
    color: rgba(71, 71, 71, 0.5); /* tundora with 50% opacity */
    margin-bottom: 40px;
}

.contacts-collections .contact-form input {
    margin-bottom: 28px;
    height: 50px;
    background-color: var(--white);
}

.contacts-collections .contact-form input:focus {
    outline: none;
    box-shadow: none;
    border-color: rgba(71, 71, 71, 0.4); /* tundora with 40% opacity */
}

.contacts-collections .contact-form input::placeholder {
    font-size: 12px;
    color: rgba(71, 71, 71, 0.5); /* tundora with 50% opacity */
}

/* call-to-action */
section.call-to-action {
    background-image: url('img/horizontal-cta-background.jpg');
    background-size: cover;
    padding: 60px 0px;
    color: var(--white);
}

section.call-to-action h2 {
    font-size: 40px;
    line-height: 1.5;
    font-weight: 700;
}

section.call-to-action h3 {
    font-size: 21px;
    line-height: 1.5;
    font-weight: 700;
}

section.call-to-action span {
    font-size: 30px;
    line-height: 1.5;
    font-weight: 400;
    display: inline-block;
}

section.call-to-action span:first-of-type {
    margin-right: 20px;
    font-weight: 700;
}

/* scroll top */
.scroll-top {
    width: 48px;
    height: 35px;
    opacity: 0;
    background-color: var(--tundora);
    border-radius: 4px 4px 0 0;
    position: fixed;
    right: 75px;
    bottom: 0;
    text-align: center;
    transition: all .3s ease;
    z-index: 3;
}

.scroll-top.active {
    opacity: .9;
}

.scroll-top:hover {
    background-color: var(--bayleaf);
}

.scroll-top button {
    font-size: 20px;
    color: var(--white);
    background-color: var(--tundora);
    text-decoration: none;
    border: none;
    border-radius: 5px 5px 0 0;
    display: block;
    width: 100%;
}

.scroll-top button:focus {
    outline: none;
}

.scroll-top button span {
    display: block;
    line-height: 35px;
}

/* service offers */
.service-offers {
    background-image: url('img/promise-background.jpg');
    background-position: bottom;
    background-size: cover;
    padding: 80px 50px;
}

.service-offers .courses {
    box-shadow: rgba(71, 71, 71, 0.1) 0px 25px 20px 0px; /* tundora with 10% opacity */
    padding: 50px 30px;
    margin: 0 10px;
    border-radius: 10px;
    background-color: var(--white);
    position: relative;
    bottom: 110px;
    overflow: hidden;
}

.service-offers .courses::after {
    content: 'new';
    position: absolute;
    display: block;
    width: 120px;
    height: 70px;
    line-height: 100px;
    left: -42px;
    top: -18px;
    background: var(--bayleaf);
    text-transform: uppercase;
    color: var(--white);
    font-weight: 700;
    transform: rotateZ(-45deg);
}

.service-offers .courses h2 {
    font-size: 40px;
    color: var(--tundora);
    margin-bottom: 50px;
    font-weight: 700;
}

.service-offers .courses p {
    font-size: 16px;
    color: rgba(71, 71, 71, .5); /* tundora with 50% opacity */
    line-height: 2;
    margin-bottom: 50px;
}

.service-offers img {
    max-width: 100%;
    transition: all 1s ease;
}

.service-offers .services img:hover  {
    transform: scale(1.15);
}

.service-offers .services > div {
    padding: 15px;
    color: var(--gumbo);
}

.service-offers .services > div > div {
    overflow: hidden;
}

.service-offers .services h4 {
    margin: 15px 0;
}

/* pad section */
.pad-section {
    background-color: #e4e9ed;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    height: 120px;
    position: relative;
    top: -1px;
}

/* social-proof */
.social-proof {
    padding-bottom: 50px;
    border: none;
    position: relative;
    top: -80px;
}

.social-proof .card-container {
    background-color: var(--bayleaf);
    border-radius: 12px;
    box-shadow: rgba(71, 71, 71, 0.1) 0px 25px 20px 0px; /* tundora with 10% opacity */
    margin: 0 7px;
}

.social-proof .chart-container {
    position: relative;
    height: 220px;
    margin: 50px 0;
}

.social-proof .card {
    background-color: var(--white);
    border-radius: 5px 5px 12px 12px;
    height: 100%;
    border: none;
    position: relative;
    top: 6px;
}

.social-proof .card span {
    display: block;
    position: absolute;
    font-size: 50px;
    color: rgba(71, 71, 71, 0.7);  /* tundora with 70% opacity */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.social-proof p {
    font-size: 14px;
    color: rgba(71, 71, 71, 0.7);  /* tundora with 70% opacity */
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 60px;
}

/* instructors */
.instructors {
    margin-bottom: 50px;
    position: relative;
    padding-bottom: 350px;
    z-index: 1;
}

.instructors button {
    width: 100%;
}

.instructors .container:first-of-type {
    margin-bottom: 80px;
}

.instructors h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    color: var(--tundora);
    margin: 20px 0 10px;
}

.instructors  p {
    color: rgba(71, 71, 71, 0.7); /* tundora with 70% opacity */
    line-height: 2;
}

.instructors .container:first-of-type p {
    font-size: 21px;
}

.instructors .container:last-of-type p {
    margin-bottom: 20px;
}

.instructors img {
    width: 100%;
    transition: all .3s ease;
}

.instructor > div {
    position: relative;
}

.instructor .tooltip {
    position: absolute;
    background-color: var(--white);
    color: var(--tundora);
    padding: 3px 10px;
    border: 1px solid var(--tundora);
    top: 25%;
    left: 50%;
    opacity: 0;
    white-space: nowrap;
    transition: opacity .2s ease;
}

.instructor > div:hover .tooltip {
    opacity: 1;
}

.instructors img:hover {
    transform: scale(1.05);
    box-shadow: 0 3px 15px rgba(4, 11, 17, 0.4); /* firefly with 40% opaity */
}

.instructors .instructor-container {
    background-color: var(--bayleaf);
    border-radius: 12px;
    box-shadow: rgba(4, 11, 17, 0.1) 0px 25px 20px 0px; /* firefly with 10% opaity */
    margin: 0 7px;
}

.instructors .instructor {
    background-color: var(--white);
    border-radius: 5px 5px 12px 12px;
    height: 100%;
    border: none;
    position: relative;
    top: 6px;
    padding: 40px;
}

.instructors .container:last-of-type {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: -320px;
}

.instructors > div:nth-child(2) > div > div:nth-child(2) > div > div {
    padding-bottom: 55px;
}

.instructors .fab {
    font-size: 18px;
    color: rgba(71, 71, 71, 0.5);  /* tundora with 50% opacity */
    margin: 0 10px;
}

.instructors .social {
    margin-bottom: 10px;
}

/* testimonials */
.testimonials {
    background-image: url('img/testimonial-background.jpg');
    background-size: cover;
    padding: 120px 0;
    position: relative;
    top: 0px;
    z-index: 0;
}

.testimonials h2 {
    font-size: 40px;
    font-weight: 700;
    color: var(--tundora);
}

.testimonials p:last-of-type {
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 1.4px;
}

.testimonials p, .testimonials span {
    font-size: 21px;
    color: rgba(71, 71, 71, 0.5);  /* tundora with 50% opacity */
    margin: 30px 0;
}

.testimonials span {
    font-weight: 700;
}

.testimonials img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin: 30px 0;
}

.testimonials div div {
    margin-top: 30px;
}

.testimonials .markers {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid rgba(71, 71, 71, 0.5);  /* tundora with 50% opacity */
    background-color: transparent;
    margin: 0 7px;
}
.testimonials .markers:hover {
    cursor: pointer;
}

.testimonials .markers.active {
    background-color: rgba(71, 71, 71, 0.5);  /* tundora with 50% opacity */
}

/* latest news */
.latest_news {
    background-image: url('img/latestnews-background.jpg');
    background-size: cover;
    padding-bottom: 50px;
}

.latest_news > div:first-of-type {
    border-radius: 5px 5px 0 0;
    box-shadow: rgba(4, 5, 17, 0.2) 0px 45px 40px 0px; /* firefly with 20% opacity */
}

.latest_news h2 {
    font-size: 40px;
    font-weight: 700;
    color: var(--tundora);
    margin: 50px 0;
}

.latest_news a {
    font-size: 21px;
    margin: 15px 0;
    font-weight: 700;
    color: var(--bayleaf);
}

.latest_news a:hover {
    text-decoration: none;
}

.latest_news .card-news p:first-of-type {
    font-size: 12px;
    font-weight: 400;
    color: rgba(71, 71, 71, 0.5); /* tundora with 50% opacity */
}

.latest_news .card-news p:first-of-type a {
    font-size: 12px;
    font-weight: 400;
}

.latest_news .card-news p:last-of-type {
    font-size: 16px;
    font-weight: 400;
    color: rgba(71, 71, 71, 0.5); /* tundora with 50% opacity */
    line-height: 2;
}

.latest_news span {
    display: block;
    font-size: 12px;
    color: rgba(71, 71, 71, 0.5); /* tundora with 50% opacity */
}

.latest_news .divider {
    display: inline;
    width: 5px;
    margin: 0 5px 0 2px;
    color: rgba(71, 71, 71, 0.5); /* tundora with 50% opacity */
}

.latest_news img {
    max-width: 100%;
    transition: all .5s ease;
}

.latest_news img:hover {
    transform: scale(1.1);
}

.latest_news .preview-service {
    margin-bottom: 15px;
    overflow: hidden;
}

.latest_news .section_cards > div:first-of-type .card-news {
    padding-left: 40px;
}

.latest_news .section_cards > div:last-of-type .card-news {
    padding-right: 40px;
}

.latest_news .cta-section {
    padding: 40px 0;
}

.latest_news .buffle {
    height: 100px;
    background-color: var(--white);
    clip-path: polygon(0% 0%, 0% 5%, 50% 100%, 100% 5%, 100% 0%);
    position: relative;
    top: -5px;
}

.latest_news .background {
    background-color: var(--gumbo);
    border-radius: 10px 10px 0 0;
    margin-top: -50px;
    position: relative;
}

.latest_news .foreground {
    margin-top: 5px;
    background-color: var(--white);
    border-radius: 5px 5px 0 0;
}

/* newsletter */
.newsletter {
    background-image: url('img/newsletter_background.jpg');
    background-size: cover;
    padding: 60px 0;
}

.newsletter h2 {
    font-size: 30px;
    color: var(--tundora);
    margin-bottom: 50px;
}

.newsletter p {
    font-size: 14px;
    color: rgba(71, 71, 71, 0.5); /* tundora with 50% opacity */
}

.newsletter input {
    font-size: 14px;
    border-radius: 4px;
    height: 50px;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    border: 1px solid rgba(71, 71, 71, 0.2); /* tundora with 20% opacity */
    background-color: var(--white);
    padding: 0 20px;
}

.newsletter input:focus {
    outline: none;
}

.newsletter button {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

/* footer */
.contacts-details {
    background-image: url('img/footer-background-color.jpg');
    background-size: cover;
    padding: 70px 0;
}
.contacts-details p {
    font-size: 13px;
    line-height: 2;
    font-weight: 400;
    color: rgba(229, 232, 235, 0.4); /* athens gray with 40% opacity */
}

.contacts-details img {
    max-width: 80%;
    margin-bottom: 20px;
}

.contacts-details h3 {
    font-size: 16px;
    font-weight: 700;
    color: var(--white);
}

.contacts-details ul li {
    color: rgba(229, 232, 235, 0.4); /* athens gray with 40% opacity */
    font-size: 13px;
    margin: 10px 0;
}

.contacts-details span {
    color: var(--athensgray);
    font-size: 17px;
    margin-right: 10px;
}

.contacts-details a {
    font-size: 17px;
    font-weight: 400;
    color: var(--bayleaf);
    transition: all .2s ease;
}

.contacts-details li .icon-green {
    color: var(--bayleaf);
}

.contacts-details li.courses {
    margin: 5px 0;
}

.contacts-details a:hover {
    text-decoration: none;
    color: var(--lightgreen);
}

.contacts-details button {
    background-color: var(--bayleaf);
    width: 140px;
    padding: 10px 20px;
    border: 2px solid transparent;
    border-radius: 22px;
}

.contacts-details button:hover {
    background-color: transparent;
    border: 2px solid var(--bayleaf);
    color: var(--bayleaf);
}

.credits {
    background-color: var(--firefly);
    padding: 30px 0;
    color: var(--tundora);
    font-size: 12px;
    padding: 50px 0;
}

.credits .external-ref {
    color: var(--bayleaf);
}

.credits .social a {
    color: var(--white);
    font-size: 16px;
    margin: 0 10px;
    transition: all .2s ease;
}

.credits a:hover {
    text-decoration: none;
    color: var(--lightgreen);
}

.credits p {
    margin: 0;
    line-height: 24px;
}
